* {
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.header{
    position: relative;
    height: 100vh;
}

.header-video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.video{
   min-width: 100%;
   min-height: 100%;
}

.header-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: #ad9c9b;;
    text-align: center;
}

.header-words {
   margin-top: 25px;
}

.words{
    font-size: 50px;
}

.main-container{
    margin: 0 auto;
    padding-bottom: 5px;
    background-color: #020611;
}

.my-photo{
    display: block;
    width: 250px;
    margin: 0 auto;
    border-radius: 100%;
    border: 5px solid white;
}

.my-name{
    padding-top: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.adress{
    padding-top: 15px;
    display: flex;
    align-items: center;
}
.my-adress{
    display: block;
    font-size: 18px;
    line-height: 19px;
    text-align: justify;
    color: #ad9c9b;;
}

.section{
    padding-top: 15px;
}

.section-title{
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    border-bottom: 1px solid mediumspringgreen;
    color: #ad9c9b;;
    letter-spacing: 2px;
}

.section-title:hover{
    border-bottom: 1px solid #FB6D3A;
}

.section-title:hover{
    color: cornflowerblue;
}

.contacts-block{
    padding-top: 10px;
}

.contacts-block-link{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ad9c9b;;
    letter-spacing: 1px;
}

.contacts-block-link:hover{
    color: cornflowerblue;
}

.social-link{
    margin-right: 15px;
    height: 64px;
}

.my-languages-content{
    margin-bottom: 20px;
}

.img-lang{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;  
    overflow: hidden;
}

.text-lang{
    margin-bottom: 10px;  
    text-align: center;
    font-size: 20px;
}

.progress-block{
    display: flex;
    justify-content:center;
    padding-top: 5px;
    overflow: hidden;
}

.progress-item{
   padding: 0 5px 0 5px;
   color:mediumspringgreen;
} 

.personality-list-item{
    padding-top: 4px;
    font-size: 18px;
    line-height: 17px;
    color: #ad9c9b;
    letter-spacing: 1px;
}

.personality-list-item:hover{
    color: #FB6D3A;
}

.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    text-align: center;
    color: #ad9c9b;;
    font-size: 5rem;
}

.skills-content-icon {
    -webkit-animation: skills-content-icon 5s linear infinite;
    animation: skills-content-icon 5s linear infinite;
    margin: 1rem;
}

@-webkit-keyframes skills-content-icon {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(359deg);
              transform: rotateY(359deg);
    }
  }
  
@keyframes skills-content-icon {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(359deg);
              transform: rotateY(359deg);
    }
  }

.last-icon{
    grid-column-start: 1;
    grid-column-end: 3;
}

.skills-content-icon:hover{
    color:mediumspringgreen;
}

.main-content{
    padding: 15px 15px 0 15px;
    color: #ad9c9b;;
}

.section-content-block{
    margin-bottom: 15px;
}

.my-education-period,.my-employment-period{
    padding-top: 5px;
    font-style: italic;
    color:mediumspringgreen;
}

.my-education-school,.my-employment{
    padding-top: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

.my-education-faculty,.my-employment-position{
    padding-top: 10px;
    font-style: italic;
    letter-spacing: 1px;
    text-align: justify;
}

.personality-list-item::before{
    content: '\2713';
    padding-right: 10px;
    color:mediumspringgreen;
}

.my-hobies-content{
    margin-bottom: 30px;
    text-align: center;
}

/*-----modal------*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.modal-block {
    width: 300px;
    margin: 200px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #2b71b9;
    border-radius: 10px;
    background-color: #020611;
    box-sizing: border-box;
    z-index: 200;
}

.hide {
    opacity: 0;
    visibility: hidden;
    transition:  all 700ms ease-in-out;
}

.show {
    opacity: 1;
    visibility: visible;
    transition:  all 500ms ease-in-out;
}

.btn {
    width: 30%;
    margin-top: 30px;
    padding: 5px 0;
    font-size: 18px;
    color: #2b71b9;
    border: none;
    border-radius: 5px;
     position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 0%;
    background: #39a492;
    z-index: -1;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

.btn:hover {
    background-color: #2b71b9;
    color: rgb(172, 23, 23);
}

.btn:hover::after {
    height: 300%;
}

.text {
    padding-top: 15px;
    text-align: center;
    font-size: 23px;
    color: #ad9c9b;;
}

/*---End modal------*/

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    padding: 15px 15px;
    z-index: 5;
}

.nav-menu li{
    padding-bottom: 30px;
}

.menu-item {
    position: relative;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #ad9c9b;
    text-transform: uppercase;
}

.menu-item:after {
    content: "";
    width: 0;
    height: 0.2rem;
    position: absolute;
    background: #00b4db;
    background: linear-gradient(90deg,#3acfd5 0,#3a4ed5);
    bottom: 0;
    left: 50%;
    border-radius: 10px;
    transition: all .4s ease;
}

.menu-item:hover:after {
    left: 0;
    width: 100%;
    color: #1b83bd;
}

.menu-item:hover{
    color: #1b83bd;
}

.nav-mobile-menu{
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
}

.nav-mobile-menu span{
    height: 2px;
    background-color: mediumspringgreen;
    position: absolute;
    left: 0;
    right: 0;
    transition: .25s ease-in-out;
    cursor: pointer;
}

.nav-mobile-menu span:nth-child(1){
    top: 3px;
}

.nav-mobile-menu span:nth-child(2){
    top: 9px;
}

.nav-mobile-menu span:nth-child(3){
    bottom: 3px;
}

.navigation{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 260px;
    max-width: 260px;
    transition: all 700ms ease-in-out;
    transform: translateX(-150%);
    background: #020611;
}

.hidden-menu{
    opacity: 0;
    visibility: hidden;
}

/*---- active menu----*/

.nav-mobile-menu.active-menu span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
    background-color: red;
}

.nav-mobile-menu.active-menu span:nth-child(2){
    top: 50%;
    transform: rotate(-45deg);
    background-color: red;
}

.nav-mobile-menu.active-menu span:nth-child(3){
    transform: scale(0);
}

.navigation.active-menu{
    opacity: 1;
    visibility: visible;
    left: 0;
    padding-top: 50px;
    transform: translateX(0);
    text-align: center;
}

.nav-mobile-menu.active-menu{
    position: fixed;
}

.arrow-block{
    color:mediumspringgreen;
}

.hidden-arrow{
    opacity: 0;
    visibility: hidden;
}

.arrow {
    position: fixed;
    display: block;
    right: 15px;
    left: 10px;
    top: 90vh;
    left: 85vw;
    font-size: 3rem;
    z-index: 5;
    -webkit-animation-name: arrow;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 7;
    animation-name: arrow;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes arrow {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.arrow.active-arrow{
    opacity: 1;
    visibility: visible;
}


/* desktop */
@media(min-width:1200px){
   
    .main-content{
       width: 100%;
       display: flex;
       flex-direction: row;
       margin: 0 auto;
    }

    .menu{
        display: none;
    }

    .my-adress{
        line-height:22px;
    }

    .sidebar{
        width: 35%;
        padding: 20px 20px;
    }

    .personality-list-item {
        padding: 5px 0 15px 0;
        font-size: 28px;
    }
    
    .main-content-block{
        width: 65%;
        padding: 20px 20px;
    }

    .section-title{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .my-adress {
        font-size: 22px;
    }

    .contacts-block-link{
        font-size: 28px;
    }

    .my-languages-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 20px;
    }

    .text-lang{
        font-size: 28px;
    }

    .skills-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 6rem;
    }

    .last-icon{
        grid-column-start: 3;
    }
   
    .my-education-period,.my-employment-period,
    .my-education-school,.my-employment,
    .my-education-faculty,.my-employment-position{
        padding-top: 10px;
        letter-spacing: 2px;
        font-size: 22px;
    }

    .my-hobies{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }

    .text-hobies{
        font-size: 22px;
    }

    .arrow-block{
       display: none;
    }

}
