* {
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.main-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar{
    padding: 15px 15px 0 15px;
    background-color: rgb(232, 231, 231);
}

.my-photo{
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 100%;
    border: 8px solid rgb(148, 182, 210);
}

.my-name{
    padding-top: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.adress{
    padding-top: 15px;
}
.my-adress{
    display: block;
    text-align:center;
    font-size: 16px;
    line-height: 19px;
}

.section{
    padding-top: 15px;
}

.section-title{
    margin-bottom: 10px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 5px solid rgb(148, 182, 210);
}

.section-title:hover{
    border-bottom: 5px solid #FB6D3A;
}


.section-title:hover{
    color: cornflowerblue;
}

.contacts-block{
    padding-top: 4px;
}

.contacts-block-link{
    display: flex;
    font-size: 18px;
    color: black;
}

.contacts-block-link:hover{
    color: cornflowerblue;
}

.social-link{
    width: 18px;
    margin-right: 5px;
}

.list-item{
    padding-top: 4px;
    font-size: 16px;
    line-height: 17px;
}

.list-item:hover{
    color: #FB6D3A;
}

.languages-list-item::before,.skills-list-item::before,.personality-list-item::before{
    content: '\2713';
    padding-right: 5px;
    color: rgb(10, 102, 177);
}

.main-content{
    padding: 15px 15px 0 15px;
}

.main-content-block{
    margin-bottom: 15px;
}

.my-education-period,.my-employment-period{
    padding-top: 5px;
    font-style: italic;
}

.my-education-school,.my-employment{
    padding-top: 5px;
    font-weight: 700;
}

.my-education-faculty,.my-employment-position{
    padding-top: 5px;
    font-style: italic;
}


/* desktop */
@media(min-width:992px){
    .main-container{
        max-width: 960px;
        padding: 0 15px 0 15px;
        display: flex;
    }

    .sidebar{
        width: 35%;
        background-color: rgb(232, 231, 231);
        padding-bottom: 50px;
    }
    
    .main-content{
        width: 65%;
        background-color: rgb(248, 244, 244);
        padding-bottom: 50px;
    }
}
